/* || GENERAL STYLES */
*, ::before, ::after, a {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

html {
    background-color: #3A3B50;
    font-family: 'Nunito Sans', sans-serif;
    color: whitesmoke;
    font-size: 18px;
}

hr {
    width: 100%;
    border: 2px solid salmon;
    border-radius: 50%;
    margin-top: 3em;
    margin-bottom: 5em;
}

.h1 {
    font-size: 2.5rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 0.5em;
}

/* || NAVIGATION */
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.check,
.checkbtn {
    display: none;
}

.checkbtn {
    width: 100%;
    height: 5rem;
    text-align: end;
    padding: 1rem;
    position: relative;
    z-index: 9999;
}

.nav {
    height: 5rem;
    width: 100%;
    background-color: #6D946B;
    text-align: center;
    line-height: 5rem;
}

.nav .ul {
    width: 100%;
    height: 100%;

    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.nav a {
    color: whitesmoke;
    font-size: 1.25rem;
    text-transform: uppercase;
    transition: color 0.2s ease-in;
}

.nav a:hover,
.nav a:focus {
    color: salmon;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

@media (max-width: 1062px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .checkbtn {
        display: block;
    }

    .nav .ul  {
        display: none;

        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #2c3e50;
        top: 0;
        left: 0;
        text-align: center;
        transition: all .5s;
    }

    .nav a {
        font-size: 2rem;
    }

    .check:checked ~ ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0.5rem 2rem;
    }

    .check:checked + label.checkbtn > .open {
        transition: transform 0.5s ease-in-out;
        transform: rotate(90deg);
    }
}

/* || MAIN CONTENT */
.container {
    margin: 0 5rem;
}

/* || INTRO */
.intro {
    /* display */
    padding: 2em;
    margin-top: 1em;

    /* content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

/* form with cheatsheet */
.display {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5em;
    width: 100%;
}

.display .form {
    width: 60%;
}

.display .cheatsheet {
    width: 40%;
    height: 100%;
    position: sticky;
    top: 20%;
}

/* form */
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    width: 100%;
}

.form > ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5em;

    width: 100%;

    list-style-type: none;
}

.form > ol > li {
    width: 100%;
}

.form ol li p {
    font-size: 1.5em;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

input {
    display: block;
    width: 100%;
    height: 3em;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em 0 1em 0;
}

button {
    width: 50%;
    height: 3em;
    
    border-radius: 10px;
    border: 2px solid ;
    background-color: whitesmoke;
    
    color: #313829;
    font-family: 'Nunito Sans';
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: center;

    cursor: pointer;

    transition: background-color 0.25s linear;
}

button:hover,
button:focus {
    background-color: #6D946B;
}

li > ol {
    list-style-type: lower-latin;
}

input:valid {
    border: 4px solid rgb(9, 221, 9);
}

input:invalid {
    border: 2px solid rgb(236, 89, 89);
}

/* cheatsheet and answers */
.cheatsheet,
.answers {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
}

.cheatsheet>ul,
.answers>ol {
    margin-top: 3em;
    margin-bottom: 3em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
}

.answers>ol li span {
    color: transparent;
    text-shadow: 0 0 10px whitesmoke;
    user-select: none;
    transition: color 0.5s ease-in;
}

.answers>ol li:hover span {
    color: inherit;
    text-shadow: initial;
    user-select: initial;
}

/* || FOOTER */
.footer {
    width: 100%;
    background-color: #6D946B;
    text-align: center;
    line-height: 5rem;
    padding: 1em;
}

/* || MEDIA QUERY */
@media (max-width: 1000px) {
    .display {
        flex-direction: column;
    }

    .display .form,
    .display .cheatsheet {
        width: 100%;
        height: initial;
        position: initial;
        top: initial;
    }
}